<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
<head>
  <!-- Plotly.js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <link rel="stylesheet" href="dash-board.css"> -->
</head>
<body>
<div class="header">
  <h1>I/O Dashboard</h1>
</div>

<!-- Plotly chart will be drawn inside this DIV -->
<div class="row">
<div id="graph_1" class="column" </div>
<!--<script src="plot-1.js"> -->
<script type="text/javascript">
var data_dict = {{data_dict|safe}};
console.log(data_dict)
//var data_dict = {'1':'1','2':'2','3':'3','4':'4'};//{{data_dict|safe}};
var trace1 = {
type: 'line',
x: [1, 2, 3, 4],
//y: [5, 10, 2, 8],
y: [data_dict["1"],data_dict["2"],data_dict["3"],data_dict["4"]],
    
marker: {
      color: '#C8A2C8',
      line: {
          width: 2.5
      }
  }
};

var data = [ trace1 ];

var layout = { 
  title: 'Responsive to window\'s size!',
  font: {size: 18},
  autosize: false,
  width: 500,
  height: 500,
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4}
};

var config = {responsive: true}

Plotly.newPlot('graph_1', data, layout, config );
    
//window.setTimeout(function () {
//    location.href = "/app1";
//}, 500); // refresh/redirect after 5 seconds.
    
</script>

</div>

<div id="graph_2" class="column" </div>
<!-- <script src="plot-2.js"></script> -->
<script>
    
var x = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10];

function get_data(){
    const xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://localhost:8020/app1/data",false);
    xhttp.send();
    var data_dict = JSON.parse(xhttp.response)
    console.log(data_dict);
    return data_dict;
}
var new_data = get_data()
//const new_data = (trace) => Object.assign(trace, {y: x.map(get_val)});

// add random data to three line traces
var data = [
  {mode:'lines', line: {color: "#b55400"}, x: x, y: new_data['1']}, 
  {mode: 'lines', line: {color: "#393e46"}, x: x, y: new_data['2']},
  {mode: 'lines', line: {color: "#222831"}, x: x, y: new_data['3']},
  {mode: 'lines', line: {color: "#222831"}, x: x, y: new_data['4']}
];

var layout = {
  title: 'User Zoom Persists<br>When uirevision Unchanged',
  uirevision:'true',
  autosize: false,
  width: 500,
  height: 500,
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4},
  xaxis: {autorange: true},
  yaxis: {autorange: true}
};

Plotly.react(graph_2, data, layout);

var myPlot = document.getElementById('graph_2');

var cnt = 0;
var interval = setInterval(function() {
  new_data = get_data()
  data = [
  {mode:'lines', line: {color: "#b55400"}, x: x, y: new_data['1']}, 
  {mode: 'lines', line: {color: "#393e46"}, x: x, y: new_data['2']},
  {mode: 'lines', line: {color: "#222831"}, x: x, y: new_data['3']},
  {mode: 'lines', line: {color: "#222831"}, x: x, y: new_data['4']}
  ];
  layout.xaxis.autorange = true;
  layout.yaxis.autorange = true;
  
  // not changing uirevision will ensure that user interactions are unchanged
  // layout.uirevision = rand();
  
  Plotly.react(graph_2, data, layout);
  if(cnt === 100) clearInterval(interval);
}, 500);
</script>
</div>
</div>

</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
    
.column
{   
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

body{
    background-color: #FFFFFF
}
/*remove standard list and bullet formatting from ul*/
.columns1 ul
{
    margin: 20px;
    padding: 0;
    list-style-type: none;
}

.header {
  padding: 6px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* correct webkit/chrome uneven margin on the first column*/
</style>

