<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet"  href="{% static 'app1/css/style_1.css' %}">
  <script src="{% static 'app1/js/graph.js' %}"></script>
</head>

<body>
<div class="header">
  <h1>I/O Dashboard</h1>
    
<div class="column">
    <h4 style="color:grey"> Frames <h4/>
    <img id = "graph_2" alt=""/>
</div>
    
<div  class="column">
    <img id = "graph_3" alt=""/>
</div>

</div>
</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1">

