<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--link rel="stylesheet"  href="{% static 'monitor/css/style_1.css' %}">
  <script src="{% static 'monitor/js/graph.js' %}"></script-->
  <link rel="stylesheet"  href="../static/monitor/css/style_1.css">
  <script src="../static/monitor/js/graph.js"></script>
</head>

<body>
    
<div class="header">
  <h1>I/O Dashboard</h1>
</div>

    <h4 style="color:grey"> Video <h4/>
    <form method="post" action="upload_image" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" id="img" name="video">
    <input type="submit">
    </form><br>
<div class="row">
    <canvas id="graph_2" width="950" height="400" style="border:10px solid #888888;"></canvas>
</div>

<div class="row">
<h4> Test Video <h4>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<!-- Or if you want a more recent canary version -->
<!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@canary"></script> -->
<video id="video_hls" muted="muted"></video>
<script>
  var video_hls = document.getElementById('video_hls');
  if(Hls.isSupported()) {
    console.log('if --- 1')
    var hls = new Hls();
    hls.loadSource('http://localhost:9007/hls/stream.m3u8');
    hls.attachMedia(video_hls);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video_hls.play();
  });
 }
 // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
 // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
 // This is using the built-in support of the plain video element, without using hls.js.
 // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
 // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    console.log('if --- 2')
    video_hls.src = 'http://localhost:9007/hls/stream.m3u8';
    video_hls.addEventListener('loadedmetadata',function() {
    video_hls.play();
    });
  }
</script>
</div>

<div class="row" id="dashboard">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env> 
        - matplotlib
        - numpy
    </py-env>
    <py-script output='dashboard'>
#import numpy as np
#from matplotlib import pyplot as plt
#fig,axes = plt.subplots()
#x = np.arange(i,i+10)
#y = np.sin(x)
#print(x)
#plt.plot(x,y)
#plt.grid()
#fig
    </py-script>
</div>

<h4 style="color:grey"> Images <h4/>
    <form method="post" action="upload_image" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" id="img" name="image">
    <input type="submit">
    </form><br>
<div class = "row">
    <canvas id="graph_1" width="950" height="400" style="border:10px solid #888888;"></canvas>
    <!--image id="graph_3" src='/media/img.jpg' width="950" height="400" style="border:10px solid #888888;"></image-->
</div>
    
</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1">

